---
import { evolutionEdu } from "const";
import A from "./components/A.astro";

interface Props {
    children: {
        href: string;
        ariaLabel: string;
        value: string;
    }[];
}

const { children } = Astro.props;
---

<div
    id="nav-options-menu"
    class:list={[
        "h-screen w-screen flex fixed top-0 transition-transform ease-in-out text-white",
        "-translate-x-full opacity-0 pointer-events-none z-99",
    ]}
>
    <div
        id="nav-options-labels"
        class="w-80 bg-blue-100/20 backdrop-blur-2xl shrink-0 flex flex-col items-center py-5 gap-20"
    >
        <a href="/" class="link-underlined text-2xl link-underline"
            >{evolutionEdu}</a
        >
        <nav class="gap-4 flex flex-col">
            {
                children.map((child) => (
                    <A href={child.href} ariaLabel={child.ariaLabel}>
                        {child.value}
                    </A>
                ))
            }
        </nav>
        <a href="/" class="mt-auto">Soporte</a>
    </div>
    <button id="nav-options-hide" class="w-full h-full backdrop-blur-2xl"
    ></button>
</div>
