---
import Cell from "./Cell.astro";
import Label from "./Label.astro";

interface Props {
    id: string;
    options: {
        value: string;
        content: string;
    }[];
}

const { id, options } = Astro.props;
---

<Cell>
    <Label><slot /></Label>
    <select
        id={id}
        class="w-full p-3 rounded bg-gray-700/50 text-white"
        required
    >
        {options.map((v) => <option value={v.value}>{v.content}</option>)}
    </select>
</Cell>
