[submodule "clients/landing"]
	path = clients/landing
	url = git@github.com:Mr-ZeMoreno/evolutionedu-landing.git
[submodule "services/formulario"]
	path = services/formulario
	url = git@github.com:Mr-ZeMoreno/evolutionedu-formulario-service.git
[submodule "services/dimensiones"]
[submodule "clients/admin"]
	path = clients/admin
	url = git@github.com:Mr-ZeMoreno/evolution-edu-admin-client.git
[submodule "services/email"]
	path = services/email
	url = git@github.com:Mr-ZeMoreno/evolutionedu-mail-service.git
[submodule "clients/panel"]
	path = clients/panel
	url = git@github.com:Mr-ZeMoreno/evolutionsedu-panel-client.git
[submodule "services/reporte"]
	path = services/reporte
	url = git@github.com:EvolutionEdu/reportes-service.git
