[submodule "clients/landing"]
	path = clients/landing
	url = https://github.com/EvolutionEdu/client-landing.git
[submodule "clients/admin"]
	path = clients/admin
	url = https://github.com/EvolutionEdu/client-admin.git
[submodule "clients/auth"]
	path = clients/auth
	url = https://github.com/EvolutionEdu/auth-client.git
[submodule "services/formulario"]
	path = services/formulario
	url = https://github.com/EvolutionEdu/formulario-service.git
[submodule "services/email"]
	path = services/email
	url =  https://github.com/EvolutionEdu/mail-service.git
[submodule "services/auth"]
	path = services/auth
	url =  https://github.com/EvolutionEdu/auth-service.git
[submodule "clients/panel"]
	path = clients/panel
	url = https://github.com/EvolutionEdu/client-panel.git
