name: evolution-edu

include:
  - ./clients/compose.yml
  - ./services/compose.yml

networks:
  client_network:
    name: client_network
    driver: bridge
  api_network:
    name: api_network
    driver: bridge
  reporte_db:
  formulario_db:
  usuarios_db: