---
interface Props {
    classList: string[];
}

const { classList } = Astro.props;
---

<div
    class:list={[
        "rounded-md min-h-50 flex flex-col bg-gray-700/50 text-white",
    ].concat(classList)}
>
    <div class="w-full h-full flex justify-center items-center">Grafico</div>
    <div class="w-full shrink-0 h-10 flex justify-center items-center text-lg">
        Titulo
    </div>
</div>
