name: frontend

services:
  clients:
    image: nginx:stable-alpine
    container_name: clients
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.d:/etc/nginx/conf.d:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/logs:/var/log/nginx
    networks:
      - client_network
    depends_on:
      - auth
      # - admin

  auth:
    build:
      context: auth
      dockerfile: dockerfile
      args:
        API_ROUTE: https://api.bithosting.cl
        PUBLIC_BASE_PATH: /auth
        PUBLIC_SITE_URL: http://evolutionedu.local
        DOMAIN: evolutionedu.local
    container_name: auth_client
    environment:
      PORT: 8000
      HOST: 0.0.0.0
      API_ROUTE: https://api.bithosting.cl
      PUBLIC_BASE_PATH: /auth
      PUBLIC_SITE_URL: http://evolutionedu.local
      DOMAIN: evolutionedu.local
    networks:
      - client_network


  landing:
    build:
      context: landing
      dockerfile: dockerfile
      args:
        PUBLIC_BASE_PATH: /
        PUBLIC_SITE_URL: http://evolutionedu.local
        DOMAIN: evolutionedu.local
    container_name: landing_client
    environment:
      PORT: 8000
      HOST: 0.0.0.0
      PUBLIC_BASE_PATH: /
      PUBLIC_SITE_URL: http://evolutionedu.local
      DOMAIN: evolutionedu.local
    networks:
      - client_network

  panel:
    build:
      context: panel
      dockerfile: dockerfile
      args:
        # API_ROUTE: https://api.bithosting.cl
        PUBLIC_BASE_PATH: /panel
        PUBLIC_SITE_URL: http://evolutionedu.local
        DOMAIN: evolutionedu.local
    container_name: panel_client
    environment:
      PORT: 8000
      HOST: 0.0.0.0
      API_ROUTE: https://api.bithosting.cl
      PUBLIC_BASE_PATH: /auth
      PUBLIC_SITE_URL: http://evolutionedu.local
      DOMAIN: evolutionedu.local
    networks:
      - client_network

  # admin:
  #   build:
  #     context: admin
  #     dockerfile: dockerfile
  #     args:
  #       API_ROUTE: https://api.bithosting.cl
  #   container_name: admin_client
  #   environment:
  #     PORT: 8000
  #     HOST: 0.0.0.0
  #     PUBLIC_BASE_PATH: /admin
  #     PUBLIC_SITE_URL: http://evolutionedu.cl
  #     API_ROUTE: https://api.bithosting.cl
  #   networks:
  #     - client_network
    
