name: frontend

services:
  clients:
    build:
      context: nginx
      dockerfile: dockerfile
    container_name: clients
    ports:
      - 8000:80
    volumes:
      - ./nginx/logs:/var/log/nginx
    networks:
      - client_network
    depends_on:
      - assets
      - landing
      - auth
      - panel

  assets:
    build:
      context: assets
      dockerfile: dockerfile
    container_name: assets
    volumes:
      - ./nginx/logs:/var/log/nginx
    networks:
      - client_network

  auth:
    build:
      context: auth
      dockerfile: dockerfile
      args:
        API_ROUTE: https://api.bithosting.cl
        PUBLIC_BASE_PATH: /auth
        PUBLIC_SITE_URL: https://preview.bithosting.cl
        DOMAIN: evolutionedu.local
    container_name: auth_client
    environment:
      PORT: 8000
      HOST: 0.0.0.0
      API_ROUTE: https://api.bithosting.cl
      PUBLIC_BASE_PATH: /auth
      PUBLIC_SITE_URL: https://preview.bithosting.cl
      DOMAIN: evolutionedu.local
    networks:
      - client_network


  landing:
    build:
      context: landing
      dockerfile: dockerfile
      args:
        PUBLIC_BASE_PATH: /
        API_ROUTE: https://api.bithosting.cl
        PUBLIC_SITE_URL: https://preview.bithosting.cl
        DOMAIN: evolutionedu.local
    container_name: landing_client
    environment:
      PORT: 8000
      HOST: 0.0.0.0
      API_ROUTE: https://api.bithosting.cl
      PUBLIC_BASE_PATH: /
      PUBLIC_SITE_URL: https://preview.bithosting.cl
      DOMAIN: evolutionedu.local
    networks:
      - client_network

  panel:
    build:
      context: panel
      dockerfile: dockerfile
      args:
        PUBLIC_BASE_PATH: /panel
        API_ROUTE: https://api.bithosting.cl
        PUBLIC_SITE_URL: https://preview.bithosting.cl
        DOMAIN: evolutionedu.local
    container_name: panel_client
    environment:
      PORT: 8000
      HOST: 0.0.0.0
      API_ROUTE: https://api.bithosting.cl
      PUBLIC_BASE_PATH: /auth
      PUBLIC_SITE_URL: https://preview.bithosting.cl
      DOMAIN: evolutionedu.local
    networks:
      - client_network

  # admin:
  #   build:
  #     context: admin
  #     dockerfile: dockerfile
  #     args:
  #       API_ROUTE: https://api.bithosting.cl
  #   container_name: admin_client
  #   environment:
  #     PORT: 8000
  #     HOST: 0.0.0.0
  #     PUBLIC_BASE_PATH: /admin
  #     PUBLIC_SITE_URL: http://evolutionedu.cl
  #     API_ROUTE: https://api.bithosting.cl
  #   networks:
  #     - client_network
    
networks:
  client_network:
    name: client_network
    driver: bridge