services:
  nginx-frontend:
    image: nginx:stable-alpine
    container_name: rev-proxy-client
    ports:
      - "8001:80"
    volumes:
      - ./nginx/default.d:/etc/nginx/conf.d:ro
      - ./nginx/logs:/var/log/nginx
    networks:
      - client_network
      - api_network

  landing:
    build:
      context: landing
      dockerfile: dockerfile
    image: landing:latest
    networks:
      - client_network

  admin:
    build:
      context: admin
      dockerfile: dockerfile
    environment:
      PORT: 8000
      HOST: 0.0.0.0
      PUBLIC_BASE_PATH: /admin
      PUBLIC_SITE_URL: http://evolutionedu.cl
      API_ROUTE: http://nginx-frontend/api
    networks:
      - client_network
      - api_network
