name: backend

include:
  - ./formulario/compose.yml
  - ./auth/compose.yml
  - ./email/compose.yml

services:
  services:
    build:
      context: nginx
      dockerfile: dockerfile
    container_name: services
    ports:
      - 5000:80
    volumes:
      - ./nginx/logs:/var/log/nginx
    networks:
      - api_network
    depends_on:
      - formulario_app
      - email_app
      - auth_app

networks:
  api_network:
    name: api_network
    driver: bridge
  usuarios_cache:
  formulario_db:
  usuarios_db:
  email_network:
    name: email_network
    driver: bridge