name: backend

include:
  - ./formulario/compose.yml
  - ./reporte/compose.yml
  - ./auth/compose.yml
  - ./madurez/compose.yml
  - ./email/compose.yml

services:
  services:
    image: nginx:stable-alpine
    container_name: services
    ports:
      - 5000:80
    volumes:
      - ./nginx/default.d:/etc/nginx/conf.d:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/logs:/var/log/nginx
    networks:
      - api_network
    depends_on:
      - reporte_app
      - formulario_app
      - email_app
      - auth_app