---
import Seo from "global/Seo.astro";
import PanelLayout from "layouts/PanelLayout.astro";
import Grafico from "sections/dashboard/components/Grafico.astro";
import Menu from "sections/dashboard/Menu.astro";

const opcionesMenu = [
    {
        value: "Registrar Insituci칩n",
        href: "/pr/dashboard/registrar-institucion",
        ariaLabel: "Ir a registrar una instituci칩n",
    },
];
---

<PanelLayout>
    <Seo
        title="Panel Principal"
        description="Accede a KPIs, herramientas de an치lisis, reportes y m치s en tu panel principal."
        slot="seo"
    />
    <Menu slot="menu" children={opcionesMenu} />
    <section
        class="w-screen min-h-screen flex flex-col items-center py-10 gap-4 md:max-w-310 mx-auto px-6"
    >
        <h1 class="text-3xl">Panel Principal</h1>

        <div class="panel w-full h-full">
            <h2 class="text-2xl title">Resumen</h2>
            <Grafico classList={["graph-1"]} />
            <Grafico classList={["graph-2"]} />
            <Grafico classList={["graph-3"]} />
            <Grafico classList={["graph-4"]} />
            <Grafico classList={["graph-5"]} />
        </div>
    </section>
</PanelLayout>

<style is:global>
    .panel {
        display: grid;
        gap: 1rem;

        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "graph1"
            "graph2"
            "graph3"
            "graph4"
            "graph5";

        grid-template-rows: 4rem repeat(5, minmax(120px, auto));
    }

    @media (min-width: 640px) {
        .panel {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "title title"
                "graph1 graph2"
                "graph3 graph4"
                "graph5 graph5";
        }
    }

    @media (min-width: 1024px) {
        .panel {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "title title title"
                "graph1 graph1 graph2"
                "graph3 graph4 graph2"
                "graph5 graph5 graph5";
            grid-template-rows: 4rem repeat(3, minmax(120px, auto));
        }
    }

    .title {
        grid-area: title;
    }
    .graph-1 {
        grid-area: graph1;
    }
    .graph-2 {
        grid-area: graph2;
    }
    .graph-3 {
        grid-area: graph3;
    }
    .graph-4 {
        grid-area: graph4;
    }
    .graph-5 {
        grid-area: graph5;
    }
</style>
