---
import Button from "global/components/Button.astro";
import Input from "sections/dashboard/registrar-institucion/Input.astro";
import Row from "sections/dashboard/registrar-institucion/Row.astro";
import Select from "sections/dashboard/registrar-institucion/Select.astro";
import Date from "sections/dashboard/registrar-institucion/Date.astro";
import Seo from "global/Seo.astro";
import PanelLayout from "layouts/PanelLayout.astro";
import Menu from "sections/dashboard/Menu.astro";

const instituciones = [{ value: "escuela", content: "Escuela" }];
const opcionesMenu = [
    {
        value: "Panel Principal",
        href: "/pr/dashboard",
        ariaLabel: "Ir al panel principal",
    },
];
---

<PanelLayout>
    <Seo
        title="Panel Principal"
        description="Accede a KPIs, herramientas de análisis, reportes y más en tu panel principal."
        slot="seo"
    />
    <Menu slot="menu" children={opcionesMenu} />
    <section
        class="w-screen min-h-screen flex flex-col items-center py-10 gap-4 md:max-w-310 mx-auto px-6"
    >
        <h1 class="text-3xl">Registrar institución</h1>
        <form id="formulario" class="flex flex-col w-full md:col-span-3 gap-4">
            <Row>
                <Input id="nombre" placeHolder="">Nombre</Input>
                <Input id="direccion" placeHolder="">Dirección</Input>
            </Row>
            <Row>
                <Input id="telefono" placeHolder="">Teléfono</Input>
                <Input id="correo" placeHolder="">Correo</Input>
            </Row>
            <Row>
                <Input id="rbd" placeHolder="">RBD</Input>
                <Input id="sitio-web" placeHolder="">Sitio Web</Input>
            </Row>
            <Row>
                <Input id="c-personal" placeHolder=""
                    >Cantidad de personal</Input
                >
                <Date id="fecha-fundacion" placeHolder=""
                    >Fecha de fundación</Date
                >
            </Row>
            <Row>
                <Select id="tipo-institución" options={instituciones}>
                    Tipo de institución
                </Select>
            </Row>
            <div class="w-full flex flex-col gap-4 justify-center items-center">
                <Button
                    color="orange"
                    ariaLabel="Terminar registro de institución"
                    id="guardar-btn"
                >
                    Registrar Institución
                </Button>
                <a href="/" aria-label="Volver al inicio" class="link-underline"
                    >Volver al inicio</a
                >
            </div>
        </form>
    </section>
</PanelLayout>
